/*  Block User Navigation */
#block-user-1 h2, .sidebar .block-user .content {
     margin: 0;
     padding: 0;
     border: 0;
     }
#block-user-1 h2 {
		 background: url(images/bg_menu.png) repeat-x;
		 border-bottom: 1px solid #D0D9D9;
     }
#block-user-1 h2 span {
     color: #FFB81F;
     display: block;
     padding: 2px 0.5em 3px 20px;
     }
#block-user-1 h2:before {
     line-height: 0.1;
     font-size: 1px;
     margin: 0;
     height: 9px;
     display: block;
     }
#block-user-1:after {
     display: block;
     clear: both;
     padding-top: 0;
     line-height: 0.1;
     font-size: 1px;
     margin: 0;
     height: 8px;
     }
.block-user .menu {
	background-color: #EDF2F2;
	margin-bottom: 1.0em;
	}
.block-user .menu, .block-user  ul.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	}
.block-user  ul.menu {
    border-left: 1px solid #D0D9D9;
    border-bottom: 1px solid #D0D9D9;
    padding: 0.3em 0;
		background-color: #EDF2F2;
    }
.block-user  ul.menu li {
	display: block; /* need for IE spacing issue */
	padding: 0.3em 0 0.3em 10px;
	margin: 0;
	list-style-type: none;
	list-style-image: none;
    }
.block-user .menu li.expanded:hover {
    background-position: -200px 6px ;
    }
.block-user .menu li.leaf:hover {
    background-position: -200px 6px;
    }
.block-user .menu li.collapsed:hover {
    background-position: -200px 6px;
    }
.block-user .menu li a {
     display: block;
     padding: 0;
     padding-left: 10px;
 	   margin: 0;
     text-decoration: none;
     }
.block-user .menu li a.active {
     font-weight: bold;
     }
.block-user .menu li a:hover {
     text-decoration: underline;
     }

